.Post {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Post h1 {
    margin-top: 0;
    font-size: 2em;
  }
  
  .Post form {
    display: flex;
    flex-direction: column;
  }
  
  .Post label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .Post input,
  .Post textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .Post input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Post input[type="submit"]:hover {
    background-color: #555;
  }
  