.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 2 10px;
    margin-top: 100px;
  }
  
  .search-container input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .search-container button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: -180px;
  }
  
  .button {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #4f5b66; /* dark blue-gray */
    color: #fff; /* white text */
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #65737e; /* slightly lighter blue-gray on hover */
}
  
